<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="icon" type="image/x-icon" href="image/image.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <ul>
            <li>
                <img src="../image/image.jpg"/>
            </li>
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="blog.html">Blog</a></li>
            <li class="nav-item"><a href="testimonial.html">Testimonial</a></li>
        </ul>
        <div class="right-button nav-item">
            <a href="contact.html">Contact Me</a>
        </div>
        <div class="right-button" id="hamburger-btn">
            <button onclick="openHamburger()">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
        </div>
    </nav>
    <div class="hamburger-container" id="hamburger-container">
        <a href="index.html" class="nav-active">Home</a>
        <a href="blog.html">My Project</a>
        <a href="testimonial.html">Testimonial</a>
        <a href="contact.html">Contact Me</a>
    </div>

    <div>
        <div class="Container">
            
            <div class= "kiri">
                <h1>
                    Hi welcome to my hut
                </h1>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quidem fuga earum eaque laudantium iste quisquam quod eos vel eligendi veniam doloremque quaerat, voluptates magni eum error totam, nostrum excepturi!
                </p>

                <div class="contact-button">
                    <a href="https://wa.me/6281383902736"><button>Contact Me</button></a>
                </div>
                    
                <div class="download-cv">
                    <a href="image/spider.jpg" download="spidermeng">download CV<i class="fa-solid fa-download"></i></a>
                </div>  

                <div class="sosmed">
                    <a href="https://www.linkedin.com/in/haqi-ayassi-3a25b2278"><i class="fa-brands fa-linkedin"></i></a>

                    <a href="https://instagram.com/haqiayassi?igshid=MzNlNGNkZWQ4Mg=="><i class="fa-brands fa-square-instagram"></i><a>
                    
                    <a href="https://www.facebook.com/haqiayassi.ayassi?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>

                    <a href="https://spotify.link/zRPVTtkcYAb"><i class="fa-brands fa-spotify"></i><a>

                </div>
                
            </div>
        

        <head>
            <script src="https://kit.fontawesome.com/1fabc7c298.js" crossorigin="anonymous"></script>
        </head>


        <div class="kanan" >
            <img src="../image/image.jpg" />
            <div>
                <h1>Haqi Ayassi</h1>
                <p>Fullstack Developer</p>
            </div>
        </div>    
            
        </div>
    </div>

    <div class="card-result">
        <hr>
        <h1>MY PROJECT</h1>
        <div id="content">
            <div class="container-card">
                <a href="#"><img src="../Image/image.jpg"/></a>
                <h3>Dumbways Mobile App - 2023</h3>
                <span>Duration : 3 Month | Haqi Ayassi</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.   
                    Repellendus facere cupiditate similique nesciunt id quibusdam in
                    totam deleniti, asperiores, animi delectus nobis nisi? Sapiente
                    fugiat, fugit illo harum minima deleniti.
                </p>
                <div class="programming-language">
                    <i class="fa-brands fa-node-js"></i>
                    <i class="fa-brands fa-golang" id="golang"></i>
                    <i class="fa-brands fa-react" id="reactsJS"></i>
                    <i class="fa-brands fa-square-js"></i>
                </div>
                <div class="Post">
                    <span>59 Second...</span>
                </div>
                <div class="btn-group">
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/nav.js"></script>
    <script src="../js/hamburger.js"></script>
</body>
</html>