<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyProject</title>
        <link rel="stylesheet" href="../assets/css/nav.css"/>
        <link rel="stylesheet" href="../assets/css/blog.css"/>
        <script src="https://kit.fontawesome.com/1fabc7c298.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../assets/image/image.jpg"/>
        <script src="https://kit.fontawesome.com/1fabc7c298.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <nav>
            <ul>
                <li>
                    <img src="../assets/image/image.jpg"/>
                </li>
                <li class="nav-item"><a href="home">Home</a></li>
                <li class="nav-item"><a href="blog">Blog</a></li>
                <li class="nav-item"><a href="testimonial">testimonial</a></li>
            </ul>
            <dev class="right-button nav-item">
                <a href="contact">Contact Me</a>
            </dev>
            <div class="right-button" id="hamburger-btn">
                <button onclick="openHamburger()">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </nav>
    
        <div class="hamburger-container" id="hamburger-container">
            <a href="home">Home</a>
            <a href="blog" class="nav-active">My Project</a>
            <a href="testimonial">Testimonial</a>
            <a href="contact">Contact Me</a>
        </div>
        
        <h1 class="teks1"> ADD MY PROJECT</h1>

        <form class="Form-container" action="/add-project" method="POST"> 

            <div class="container">
                <div class="project-name">
                    <label>Project Name</label>
                    <input name="project-name" type="text">
                </div>

                <div class="date">
                    <div>
                        <label>Start Date</label>
                        <input name="start-date" type="date">
                    </div>
                    <div>
                        <label>End Date</label>
                        <input name="end-date" type="date">
                    </div>
                </div>

                <div class="description">
                    <label>Descripton</label>
                    <textarea name="description"></textarea>
                </div>


                <div class="checkbox">
                    <label>Technologies</label>
                    <div class="checkbox-group">
                        <div>
                            <input type="checkbox" name="nodejs"  class="multi" />
                            <label>Node JS</label>
                        </div>
                        <div>
                            <input type="checkbox" name="golang" class="multi" />
                            <label>Golang</label>
                        </div>
                        <div>
                            <input type="checkbox" name="reactjs" class="multi" />
                            <label>React JS</label>
                        </div>
                        <div>
                            <input type="checkbox" name="javascript" class="multi"/>
                            <label>Javascript</label>
                        </div>
                    </div>
                </div>

                <div class="Upload-Image">
                    <label>Upload Image</label>
                    <div class="label-image">
                        <label for="input-image">
                            <p>Choose File</p>
                            <i class="fa-solid fa-paperclip fa-fw"></i>
                                <input type="file" name="input-image" hidden />
                        </label>
                    </div>
                </div>
            </div>
                <button>Submit</button>
        </form>

        <div class="card-result">
            <hr>
            <h1>MY PROJECT</h1>
            <div id="content">
                <div class="container-card">
                    <a href="#"><img src="../assets/image/image.jpg"/></a>
                    <h3>Dumbways Mobile App - 2023</h3>
                    <span>Duration : 3 Month | Haqi Ayassi</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.   
                        Repellendus facere cupiditate similique nesciunt id quibusdam in
                        totam deleniti, asperiores, animi delectus nobis nisi? Sapiente
                        fugiat, fugit illo harum minima deleniti.
                    </p>
                    <div class="programming-language">
                        <i class="fa-brands fa-node-js"></i>
                        <i class="fa-brands fa-golang" id="golang"></i>
                        <i class="fa-brands fa-react" id="reactsJS"></i>
                        <i class="fa-brands fa-square-js"></i>
                    </div>
                    <div class="Post">
                        <span>59 Second...</span>
                    </div>
                    <div class="btn-group">
                        <button>Edit</button>
                        <button>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="../assets/js/blog.js"></script>
        <script src="../assets/js/hamburger.js"></script>
    </body>  

</html>