@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.teks1 {
    height: 170px; 
    display: flex;  
    justify-content: center; 
    align-items: center;
    text-align: center;
}

body{
    padding: 0;
    background-color: rgb(229, 229, 229);
}

label{
    font-size:large;
    font-weight: bold;
}

input{
    background-color: white;
    padding: 0.8em;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2px 2px;
    margin-top: 0.5em;
}

.Form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container{
    width: 30%;
    height: 80%;
}

.project-name {
    display: flex;
    flex-direction: column;
}

.date {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.date div{
    display: flex;
    width: 48%;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.description textarea{
    border-radius: 15px;
    box-shadow: 0px 2px 2px;
    height: 200px;
    padding: 16px;
    resize: none;
    border: none;
}

.checkbox{
    margin-top: 1em;

}

.checkbox-group {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkbox-group div{
    display: flex;
} 

.checkbox-group div label{
    margin-top: 3px;
    color: rgb(62, 62, 62);
}

.checkbox-group div input{
    width: 20px;
    height: 20px;
    margin-right: 1em;
    box-shadow: none;
    cursor: pointer;
}

.Upload-Image{
    margin-top: 1em;
}

.label-image label {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2em;
    border-radius: 5px;
    cursor: pointer;
}

.label-image label p {
    padding: 10px;
    color: black;
}

.label-image label i {
    font-size: 20px;
    margin-right: 8px;
}

.btn-submit{
    margin-top: 1em;
    border: none;
    border-radius: 2em;
}

.Form-container button{
    margin-top: 2em;
    background-color: black;
    color: white;
    width: 9em;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 2em;
    border: none;
    margin-left: 22%;
}

.Form-container button:hover{
    background-color: white;
}

.card-result {
    margin-top: 3em;
    background-color: white;
}

.card-result h1{
    padding-top: 1em;
    margin-left: 20px;
}

#content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: centr;
}

.container-card {
    width: 25vw;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgb(226, 226, 226);
    box-sizing: border-box;
}

.container-card img {
    width: 100%;
    border-radius: 0.5em;
    height: 30vh;
    object-fit: cover;
}
.container-card span{
    color: rgb(96, 95, 95);
}

.container-card p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.Post p{
    width: 50%;
    font-size: small;
}
.Post{
    display: flex;
    align-items: center;
}

.programming-language i {
    font-size: 1.7em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.btn-group {
    display: flex;
}

.container-card .btn-group button {
    width: 100%;
    margin: 1em;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    background-color: black;
    color: white;
}

.btn-group button:hover {
    background-color: blue;
    cursor: pointer;
}

hr {
border: 1px solid black;
}