nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 20px;
}

nav ul li {
    list-style-type: none;
}

nav {
    display: flex;
    background-color: white;
    height: 50px;
}

nav ul img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    object-fit: contain;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-weight: bold;
}